@model DotnetTraining.Models.Product

@{
    ViewData["Title"] = "Tạo sản phẩm mới";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Index" class="breadcrumb-item">Danh sách sản phẩm</a>
            <span class="breadcrumb-item active">Tạo sản phẩm mới</span>
        </nav>
    </div>
</div>
<form asp-controller="AdminProducts" asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="page-header no-gutters has-tab">
        <ul class="nav nav-tabs" >
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#product-edit-basic">Thông tin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#product-edit-description">Mô tả</a>
            </li>
        </ul>
    </div>
    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-edit-basic" >
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productName">Tên sản phẩm</label>
                        <input type="text" class="form-control" asp-for="ProductName">
                        <span asp-validation-for="ProductName" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" for="productPrice">Giá bán</label>
                            <input type="text" class="form-control" asp-for="Price">
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" for="productPrice">Khuyến mãi</label>
                            <input type="text" class="form-control" asp-for="Discount">
                            <span asp-validation-for="Discount" class="text-danger"></span>
                        </div>
                    </div>       
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" for="productCategory">Danh mục sản phẩm</label>
                            <select class="custom-select" asp-for="CatId" style="min-width: 250px;" asp-items="ViewBag.DanhMuc" >
                                <option value="0" disabled selected>Chọn danh mục</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" for="productStatus">Số lượng trong kho</label>
                            <input asp-for="UnitsInStock" class="form-control">
                            <span asp-validation-for="UnitsInStock" class="text-danger"></span>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productBrand">Hình ảnh</label>
                        <input asp-for="Thumb" name="fThumb" type="file" class="form-control-file" />
                        <span asp-validation-for="Thumb" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Tạo sản phẩm mới" class="btn btn-primary" />
                    </div>
                </div>                
            </div>
        </div>
        <div class="tab-pane fade" id="product-edit-description">
            <div class="card">
                <div class="card-body">
                    <div id="productDescription">
                        <p asp-for="Description" class="form-control"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <!-- page js -->
    <script src="~/Adminassets/vendors/select2/select2.min.js"></script>
    <script src="~/Adminassets/vendors/quill/quill.min.js"></script>
    <script src="~/Adminassets/js/pages/e-commerce-product-edit.js"></script>
}
